<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:jee="http://www.springframework.org/schema/jee"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<!-- ****************************************************************** -->
	<!-- *                                                                * -->
	<!-- *  アノテーションによるトランザクション定義の有効化              * -->
	<!-- *                                                                * -->
	<!-- ****************************************************************** -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!-- ****************************************************************** -->
	<!-- *                                                                * -->
	<!-- *  トランザクションマネージャの設定                              * -->
	<!-- *                                                                * -->
	<!-- ****************************************************************** -->
	<bean id="transactionManager"
			class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
	</bean>

	<!-- ****************************************************************** -->
	<!-- *                                                                * -->
	<!-- *  MyBatisとの連携設定                                           * -->
	<!-- *                                                                * -->
	<!-- ****************************************************************** -->
	<bean id="sqlSessionFactory"
			class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation"
				value="classpath:com/tnkmatic/trial/data/mybatis-config.xml" />
		<property name="mapperLocations"
				value="classpath:com/tnkmatic/trial/data/*Mapper.xml" />
	</bean>

	<!-- ****************************************************************** -->
	<!-- *                                                                * -->
	<!-- *  Mapperインターフェースの検索設定                              * -->
	<!-- *  独自アノテーションをannotationClassに設定することで、         * -->
	<!-- *  アノテーションでMapperインターフェースを識別可能にしている    * -->
	<!-- *                                                                * -->
	<!-- ****************************************************************** -->
	<bean id="mapperScannerConfigure"
			class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName"
				value="sqlSessionFactory" />
		<property name="basePackage"
				value="com.tnkmatic.trial.data" />
		<property name="annotationClass"
				value="com.tnkmatic.trial.annotation.sqlMapper" />
	</bean>

</beans>